{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'base/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'base/header.html' %} {% endblock header %}
    {% block flash %} {% include 'base/flash.html' %} {% endblock flash %}
    <main>
        <form action='/update-password/' method='post' id="login">
            {% csrf_token %}
            <section>
                <label for='password'>Password</label>
                <input name='password' type='password'>
            </section>
            <section>
                <label for='confirm'>Password</label>
                <input name='confirm' type='password'>
            </section>
            <button>Update Password</button>
        </form>
    </main>
    {% block footer %} {% include 'base/footer.html'  %} {% endblock %}
</body>
</html>